# answer 1

In [ ]:

The data structures are a way of storing,managing, organizing data in a computer so that it can be used efficiently .
Data structures are important because of code optimization , abstarction , efficiency and real world applications .

# answer 2
immutable types are those data types that can never change their value in place

      a = "hello"

# answer 3
A list in python represents a list of comma separated values of any datatypes between square brackets .
               eg : a = [1,2,3,4]
Whereas tuples are represented as list of comma seperated values of any data type within paranthesis .
               eg : b = (2,5,6,7)

# answer 4
The dictionary is an unordered set of comma separated key : value pairs .
          eg : info = {
                      "name" : "aman" ,
                      "age"  :  23,
                      "city" : "jaipur"
                      }

# answer 5
We might use a set instead of a list in python because of following characterstics:
1) uniqueness of elements
2) mathematically set operations
3) order immateriality

# answer 6
A string data type lets you hold string data any number of valid characters into a set of quotation marks .
            eg : name = "neha"
whereas list in python represents a list of comma separated values of any datatypes between square brackets .
            eg : a = [1,2,3,4]

# answer 7
Tuples are immutable data type . This characterstics shows once a tuple is created its element cannot be modified , added or removed .

# answer 8
A hash table is a data structure used for storing and retrieving data . It stores key values pairs and uses a hash functions to map keys to indices in an underlying array .
when a dictionary is created and populated with key value pairs python internally uses a hash table to manage the storage and retrieval of these pairs .

# answer 9
Yes a list can contain different data types in python .
eg : strings , float, integers.

# answer 10
Strings are immutable in python because if we perform any operations to modify a strings it actually creates a new string object and will leave the original string untouched in memory .

# answer 11
Dictionaries in python offer fast data retrieval while lists are ideal for ordered collections and simple data storage .

# answer 13
 In python set stores only unique elements . when duplicate values are introduced to a set it will automatically ignore or remove it .

# answer 14
'In' keyword can be used to test whether certain characters are present in a string or not whereas in dictionary the 'In' operator is a membership operator used to check if a value is a part of a collection .

# answer 15
Tuples are immutable data types when once a tuple is created you cannot change, add , remove items .

# answer 16
Nested dictionary are dictionary that are stored as values within another dictionary .
   eg : students = {
                  "aman" : {
                    "phy" : 32 ,
                    "chem" : 22,
                    "math" : 43
                  }
   }

# answer 18
A list can store any datatype . It make easier for us to understand and remember the information at hand .

# answer 19
Its elements , stored as key value pairs are not accessed by their position or index like in lists or tuples it significantly improve data retrieval speed by using key value pairs and hashing .

# answer 1

In [ ]:
name = "gunjan"
print(name)

gunjan

# answer 2

In [ ]:
name = "Hello World"
print (len(name))

11

# answer 3

In [ ]:
str1 = "Python Programming"
print(str1[0:3])

Pyt

# answer 4

In [ ]:
str1 = "hello"
print (str1.upper())

HELLO

# answer 5

In [ ]:
str1 = "I like apple"
print (str1.replace("apple","orange"))

I like orange

# answer 6

In [ ]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

# answer 7

In [ ]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

# answer 8

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

# answer 10

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

# answer 11

In [ ]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

# answer 13

In [ ]:
tup = (10,20,5,15)
print(min(tup))

5

# answer 14

In [ ]:
tup = ('dog','cat','rabbit')
print(tup.index('cat'))

1

# answer 15

In [ ]:
tup = ('mango','kiwi','banana')
tup = 'kiwi' in tup
print(tup)

True

# answer 16

In [ ]:
set = {'a','b','c'}
print(set)

{'a', 'b', 'c'}

# answer 17

In [ ]:
set = {1,2,3,4,5}
print(set.clear())

None

# answer 18

In [ ]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

# answer 19

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

# answer 20

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

# answer 21

In [ ]:
dict = {
    "name":'john',
    "age":23,
    "city":'jaipur'
}
print(dict)

{'name': 'john', 'age': 23, 'city': 'jaipur'}

# answer 22

In [ ]:
dict = {
    "name":"john",
    "age":25
}
dict["country"] = "USA"
print(dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

# answer 23

In [ ]:
dict = {"name":"alice","age":30}
print(dict["name"])

alice

# answer 24

In [ ]:
dict = {"name":"bob","age":22,"city":"new york"}
print(dict)
del dict["age"]
print(dict)

{'name': 'bob', 'age': 22, 'city': 'new york'}
{'name': 'bob', 'city': 'new york'}

# answer 25

In [ ]:
a={'name':'alice','city':'paris'}
if 'city' in a:
    print("it exists")
else:
    print("not exist")

it exists

# answer 26

In [ ]:
marks = [45,32,78,67]
tup = (78,56,77,34.78,"manoj")
dict = {"name":"gunjan","age":21
}
print(marks,tup ,dict)

[45, 32, 78, 67] (78, 56, 77, 34.78, 'manoj') {'name': 'gunjan', 'age': 21}

# answer 28

In [ ]:
list = ["a","b","c","d","e"]
print(list[3])

d

# answer 29

In [ ]:
dict1={'a':1,'b':2,'c':3}
dict2 = {'d':4,'e':5}
dict=dict1 | dict2
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# answer 30

In [ ]:
a = [1,2,3,5,4]
b =set(a)
print(b)

{1, 2, 3, 4, 5}